# [Python Reference Link](http://www.data8.org/sp20/python-reference.html)
*Run the cell below so that we can set our modules up*

In [1]:
import numpy as np
from datascience import *

## Let's look at the responses to our survey using group and pivot

In [28]:
link = 'https://docs.google.com/spreadsheets/d/10w89SKidIb2r2xzt_LW0JNeToPmGFg_FAM7PcbPWtbc/export?format=csv'

data_table = Table().read_table(link).drop('Timestamp')
data_table

1.   | 2. Rather | 3.

### Group by the first variable to see how many people are in each category

In [16]:
grouped_by_first = data_table.group(...)
grouped_by_first

phone_type | count
Android    | 6
iPhone     | 14

### Group by the second variable to see how many people are in each category

In [17]:
grouped_by_second = data_table.group(...)
grouped_by_second

app_name | count
Lyft     | 7
Uber     | 13

### Let's see what happens when we put np.average into the group function

In [20]:
grouped_by_second_avg = data_table.group(..., ...)
grouped_by_second_avg

app_name | phone_type average | price average
Lyft     |                    | 26.8486
Uber     |                    | 27.1115

### Group by the first variable and then the second

In [14]:
grouped_by_first_second = data_table.group(...)
grouped_by_first_second

phone_type | app_name | count
Android    | Lyft     | 3
Android    | Uber     | 3
iPhone     | Lyft     | 4
iPhone     | Uber     | 10

### How should we summarize our numerical variable besides a count?

In [15]:
grouped_by_first_second_sum = data_table.group(make_array('phone_type', 'app_name'),max )
grouped_by_first_second_sum

phone_type | app_name | price max
Android    | Lyft     | 28.79
Android    | Uber     | 28.93
iPhone     | Lyft     | 27.99
iPhone     | Uber     | 28.94

### Now that we've seen how group works, let's try pivot

In [21]:
pivot_one = data_table.pivot(..., ...)
pivot_one

app_name | Android | iPhone
Lyft     | 3       | 4
Uber     | 3       | 10

## What happens when you change the order of parameters for the pivot function?

In [22]:
pivot_two = data_table.pivot(..., ...)
pivot_two

phone_type | Lyft | Uber
Android    | 3    | 3
iPhone     | 4    | 10

### What should we do with that third variable?

In [27]:
pivot_with_third = data_table.pivot(..., ..., ..., ...)
pivot_with_third

phone_type | Lyft    | Uber
Android    | 26.8767 | 27.2733
iPhone     | 26.8275 | 27.063